$primaryColor: #DB6900;

.TaskListWrapper {
    background-color: $primaryColor;

    height: 64%;
    margin: 2.5%;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0px 4px 4px gray;

    overflow-y: scroll;
}