$reset-box: 0px;
$default-font: 'Rubik', sans-serif;

body 
{
  margin: $reset-box;
  padding: $reset-box;
  font-family: $default-font;
  width: 100vw;
  height: 100vh;
}

#root
{
  width: 100vw;
  height: 100vh;
}